@import "../base";

/** @define Header */

.Header {
  margin-top: var(--document-margin);
  margin-bottom: 4rem;
  user-select: none;
}

.Header-logo {
  display: block;
  width: 10.75rem;
  position: relative;
}

.Header-logo:active {
  opacity: 0.5;
}

.Header-logo svg {
  width: 100%;
  height: auto;
}

.Header-details {
  background: var(--color-background);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.Header-summary {
  font-size: 0;
  position: relative;
  width: 1.25rem;
  height: 0.625rem;
  padding: 1rem;
  list-style: none;
  position: absolute;
  top: var(--document-margin);
  right: var(--document-margin);
  outline: 0;
}

.Header-summary:active {
  opacity: 0.5;
}

.Header-summary::-webkit-details-marker {
  display: none;
}

.Header-line {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1.25rem;
}

.Header-line:nth-child(2) {
  top: auto;
  bottom: 1rem;
}

.Header-details[open] .Header-line {
  top: 48%;
  transform: rotate(45deg);
  transform-origin: center;
}

.Header-details[open] .Header-line:nth-child(2) {
  transform: rotate(-45deg);
  transform-origin: center;
}

.Header-details[open] {
  overflow: hidden;
  height: 100vh;
  padding: var(--document-margin);
  box-shadow: 0 0 0 1rem var(--color-background);
}

.Header-list {
  margin-top: 2rem;
}

.Header-item {
  align-items: center;
  font-family: var(--type-font-family-heading);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.3;
}

@media (min-height: 370px) {
  .Header-item {
    font-size: 1.75rem;
  }
}

@media (min-height: 420px) {
  .Header-item {
    font-size: 2rem;
  }
}

@media (min-height: 480px) {
  .Header-list {
    margin-top: 4rem;
  }
}

@media (min-height: 540px) {
  .Header-list {
    margin-top: 4rem;
  }

  .Header-item {
    font-size: 3rem;
    letter-spacing: -0.005em;
    line-height: 0.98;
    padding-bottom: 0.3rem;
    word-spacing: -0.03em;
  }
}

.Header-link:active {
  opacity: 0.5;
}

.Header-icon {
  display: none;
}

@media (min-width: 800px) {
  .Header-item--icon .Header-link {
    position: relative;
  }

  .Header-item--icon .Header-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.25rem;
    transform: translate(-50%, 100%);
    background: var(--color-background);
    border: 1px solid;
    opacity: 0;
    pointer-events: none;
  }

  .Header-item--icon .Header-link:hover .Header-text,
  .Header-item--icon .Header-link:focus .Header-text {
    opacity: 1;
    z-index: 1;
  }
}
