/* @define Link */

@import "../base/global";

.Link {
  display: block;
  text-decoration: none;
  color: currentColor;
  background: none;
}

.Link-figure {
  position: relative;
  max-height: 80vh;
  margin-bottom: var(--size);
  transform:
    translateX(calc(-7px * var(--mouse-x)))
    translateY(calc((20% * (1 - var(--inview))) + (-7px * var(--mouse-y))));
  transition: transform 180ms var(--snap);
}

@media (min-width: 600px) {
  .Link-figure {
    margin-bottom: calc(var(--size) / 2);
  }
}

@media (min-width: 1000px) {
  .Link-figure {
    margin-bottom: calc(var(--size) / 4);
  }
}

.Link-figure::before {
  content: "";
  display: block;
  padding-bottom: 68%;
}

@media (min-width: 600px) {
  .Link-figure::before {
    padding-bottom: 100%;
  }
}

@media (min-width: 1000px) {
  .Link-figure::before {
    padding-bottom: 100%;
  }
}

.Link--aspect .Link-figure::before {
  padding-bottom: var(--aspect);
}

.Link-figure:hover {
  transition: none;
}

.Link-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**
 * Decorator
 */

.Link-decorator {
  width: 100%;
  height: 100%;
  padding: var(--size);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: var(--bright-sand);
}

@media (min-width: 600px) {
  .Link:not(.Link--splash) .Link-decorator {
    padding: calc(var(--size) * 0.8);
  }
}

.Link-plus {
  float: right;
  width: 15px;
  height: 15px;
  position: absolute;
  position: sticky;
  top: calc(var(--size) * 0.8);
  right: calc(var(--size) * 0.8);
  pointer-events: none;
  transform:
    translateX(calc(-12px * var(--mouse-x)))
    translateY(calc(-12px * var(--mouse-y)));
  transition: transform 260ms var(--snap);
}

.Link-plus::before,
.Link-plus::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: currentColor;
}

.Link-plus::after {
  top: 0;
  left: 6px;
  width: 3px;
  height: 100%;
}

.Link-figure:hover .Link-plus {
  transition: none;
}

.Link-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  width: 290%;
  height: 290%;
  z-index: -1;
  transform-origin: center;
  transition: ease-in 150ms;
  transition-property: transform, opacity;
  background: #fff;
  opacity: 0.2;
}

.Link:hover {
  z-index: 1;
  position: relative;
}

.Link--splash:hover .Link-circle {
  transform: translate(-50%, -50%) scale(1);
  transition-timing-function: ease-out;
}

.Link--splash:active .Link-circle {
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 50ms;
  opacity: 0.3;
}

@media (min-width: 1500px) {
  .Link-plus {
    width: 20px;
    height: 20px;
  }

  .Link-plus::before {
    top: 8px;
    height: 4px;
  }

  .Link-plus::after {
    left: 8px;
    width: 4px;
  }
}
