/* @define Link */

.Link {
  display: inline-block;
  text-decoration: none;
  --inview: 1;
  --mouse-x: 0;
  --mouse-y: 0;
}

.Link--adaptive {
  color: currentColor;
}

.Link-figure {
  position: relative;
  transform:
    translateX(calc(-1.4% * var(--mouse-x)))
    translateY(calc((20% * (1 - var(--inview))) + (-1.4% * var(--mouse-y))));
  transition: transform 180ms var(--snap);
}

.Link-figure:hover {
  transition: none;
}

.Link-decorator {
  width: 100%;
  height: 100%;
  padding: calc(var(--size) / 2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.Link-image {
  display: block;
  width: 100%;
}

.Link-plus {
  float: right;
  width: 20px;
  height: 20px;
  position: absolute;
  position: sticky;
  top: calc(var(--size) / 2);
  right: calc(var(--size) / 2);
  pointer-events: none;
  transform:
    translateX(calc(-25% * var(--mouse-x)))
    translateY(calc(-25% * var(--mouse-y)));
  transition: transform 260ms var(--snap);
}

.Link-figure:hover .Link-plus {
  transition: none;
}
