/* @define Link */

.Link {
  display: inline-block;
  text-decoration: none;
  --mouse-x: 0;
  --mouse-y: 0;
}

.Link--adaptive {
  color: currentColor;
}

.Link-figure {
  position: relative;
  /* transform: translate(calc(-2% * var(--mouse-x)), calc(-2% * var(--mouse-y))); */
  transform:
    /* rotate(calc(var(--rotation) * (1 - var(--inview)))) */
    translateY(calc(20px * (1 - var(--inview))));
    /* scale(calc(1 + ((1 - var(--inview)) * 0.03))); */
  transition: transform 175ms ease-out;
}

.Link-figure:hover {
  transition: none;
}

.Link-image {
}

.Link-decorator {
  width: 100%;
  height: 100%;
  padding: calc(var(--size) / 2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.Link-image {
  display: block;
  width: 100%;
}

.Link-plus {
  float: right;
  width: 20px;
  height: 20px;
  position: absolute;
  position: sticky;
  top: calc(var(--size) / 2);
  right: calc(var(--size) / 2);
}
