/* @define Grid */

@import "../base/global";

.Grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + (var(--space) * 4));
  margin: 0 calc((var(--space) * 2) * -1)
}

.Grid-cell {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  padding: 0 calc(var(--space) * 2);
}

.Grid--tight {
  width: calc(100% + (var(--space) * 2));
  margin: 0 calc(var(--space) * -1);
}

.Grid--tight .Grid-cell {
  padding: 0 var(--space);
}
