/* @define Card */

@import "../base/global";

.Card {
  width: 100%;
  position: relative;
}

.Card-block {
  width: calc(100vw - (var(--size) * 2));
  position: absolute;
  bottom: -50vw;
  right: var(--size);
}

@media (min-width: 600px) {
  .Card-block {
    width: calc((100vw - (var(--size) * 3)) / 2);
    bottom: -8vw;
    right: var(--size);
  }
}

@media (min-width: 1000px) {
  .Card-block {
    width: calc((100vw - (var(--size) * 4)) / 3);
    right: calc(var(--size) * 2);
  }
}

.Card-block,
.Card {
  display: flex;
  max-height: 95vh;
  transform:
    translateX(calc(0.5vw * var(--mouse-x)))
    translateY(calc((20% * (1 - var(--inview))) + (0.5vw * var(--mouse-y))));
  transition: transform 180ms var(--snap);
}

.Card-block:hover,
.Card:not(.Card--banner):hover {
  transition: none;
}

.Card-block::before,
.Card::before {
  content: "";
  float: left;
  width: 0;
  height: 0;
  padding-bottom: var(--aspect);
}

/**
 * Pull banner image to full screen width
 */

.Card--banner {
  width: calc(100% + (var(--size) * 2));
  margin: 0 calc(var(--size) * -1);
}

@media (min-width: 600px) {
  .Card--banner {
    width: 100%;
    max-height: 80vh;
    margin: 0;
  }

  .Card--banner::before {
    padding-bottom: 60%;
  }
}

.Card-figure {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.Card-figure:hover {
  transition: none;
}

.Card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Card-caption {
  display: block;
  width: 45%;
  max-width: 37em;
}

@media (min-width: 1000px) {
  .Card-caption {
    width: 60%;
  }
}

/**
 * Decorator
 */

.Card-decorator {
  width: 100%;
  height: 100%;
  padding: var(--size);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: var(--bright-sand);
  pointer-events: none;
}

@media (min-width: 600px) {
  .Card:not(.Card--splash) .Card-decorator {
    padding: calc(var(--size) * 0.8);
  }
}

.Card-plus {
  float: right;
  width: 15px;
  height: 15px;
  position: absolute;
  position: sticky;
  top: calc(var(--size) * 0.8);
  right: calc(var(--size) * 0.8);
  pointer-events: none;
  transform:
    translateX(calc(0.7vw * var(--mouse-x)))
    translateY(calc(0.7vw * var(--mouse-y)));
  transition: transform 260ms var(--snap);
}

.Card-plus::before,
.Card-plus::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: currentColor;
}

.Card-plus::after {
  top: 0;
  left: 6px;
  width: 3px;
  height: 100%;
}

.Card-block:hover .Card-plus,
.Card:not(.Card--banner):hover .Card-plus {
  transition: none;
}

.Card-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  width: 290%;
  height: 290%;
  z-index: -1;
  transform-origin: center;
  transition: ease-in 150ms;
  transition-property: transform, opacity;
  background: #fff;
  opacity: 0.2;
}

.Card:hover {
  z-index: 1;
  position: relative;
}

.Card--splash:hover .Card-circle {
  transform: translate(-50%, -50%) scale(1);
  transition-timing-function: ease-out;
}

.Card--splash:active .Card-circle {
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 50ms;
  opacity: 0.3;
}

@media (min-width: 1500px) {
  .Card-plus {
    width: 20px;
    height: 20px;
  }

  .Card-plus::before {
    top: 8px;
    height: 4px;
  }

  .Card-plus::after {
    left: 8px;
    width: 4px;
  }
}
