/* @define Good */

@import "../base/global";
@import "../text";

:root {
  --Good-width: 23vw;
  --Good-border: 1vw;
}

.Good {
  margin: calc(var(--space) * 6) 0 0;
  padding-bottom: calc((var(--Good-width) * 1.652173913) - (var(--Good-width) / 2));
}

.Good-row:last-child {
  margin-bottom: calc(var(--Good-width) - (var(--Good-border) * 2));
}

.Good-sticky {
  height: calc(50vh + (var(--Good-width) / 2));
  margin-bottom: -1vw;
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
}

.Good-row {
  display: flex;
  align-items: center;
  padding-left: calc(50% - (var(--Good-width) / 2));
  margin-bottom: -1vw;
}

.Good-heading {
  flex: 0 0 var(--Good-width);
  height: auto;
  width: var(--Good-width);
}

.Good-title {
  display: block;
  height: auto;
  width: var(--Good-width);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: calc(var(--Good-border) / 2) calc(100% - (var(--Good-border) / 2));
  transform:
    translateX(calc(-50% - 1px))
    translateY(-2px)
    rotate(calc(-90deg * var(--inview)));
  will-change: transform;
}

.Good-sticky.is-reversed .Good-title {
  transform-origin: calc(100% - var(--Good-border) / 2) calc(100% - var(--Good-border) / 2);
  transform:
    translateX(calc(-50% + -1px - var(--Good-width) + var(--Good-border)))
    translateY(calc(var(--Good-width) * -1 + var(--Good-border)))
    rotate(calc(-90deg + (-90deg * var(--inview))));
}
