/* @define Words */

@import "../base/global";
@import "../display";
@import "../text";

.Words {
  display: flex;
  align-items: flex-start;
  margin: 0 calc(var(--space) * -2) calc(var(--space) * 14);
}

.Words-col {
  flex: 0 1 50%;
  padding: 0 calc(var(--space) * 2);
}

.Words-col--2 {
  margin-bottom: -200px;
  transform: translateY(calc(-200px * var(--offset)));
  will-change: transform;
}

@media (min-width: 1000px) {
  .Words-col--2 {
    transform: translateY(calc(-300px * var(--offset)));
    will-change: transform;
  }

  .Words-col--3 {
    margin-bottom: -200px;
    transform: translateY(calc(-200px * var(--offset)));
    will-change: transform;
  }
}

.Words-cell {
  border-top: 2px solid currentColor;
  padding-top: calc(var(--space) * 5);
  margin-top: calc(var(--space) * 5);
}

.Words-icon {
  float: right;
  margin: 0 0 0.5em 0.5em;
}
