/* @define Button */

@import "../base/global";

.Button {
  display: inline-block;
  user-select: none;
  vertical-align: bottom;
  padding: 0;
  border: 0;
  color: var(--color);
  background: none;
  font: inherit;
  line-height: inherit;
  outline: 0;
  margin-top: calc(var(--space) * 2);
  cursor: pointer;
  font-size: var(--font-size-sm);
}

.Button--wrap::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.Button-wrapper {
  position: relative;
}

.Button-plus {
  display: inline-block;
  width: 13px;
  height: 13px;
  position: relative;
  margin-right: 0.5ch;
}

.Button-plus::before,
.Button-plus::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: currentColor;
}

.Button-plus::after {
  top: 0;
  left: 5px;
  width: 3px;
  height: 100%;
}

.Button-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  width: 290%;
  height: 290%;
  transform-origin: center;
  transition: var(--ease) 350ms;
  transition-property: transform, opacity;
  background: currentColor;
  opacity: 0.2;
}

.Button-wrapper:hover .Button-circle,
.Button:hover .Button-circle {
  transform: translate(-50%, -50%) scale(1);
  transition-timing-function: var(--ease);
}

.Button-wrapper:active .Button-circle,
.Button:active .Button-circle {
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 50ms;
  opacity: 0.3;
}

@media (min-width: 1000px) and (min-height: 600px) {
  .Button-plus {
    width: 15px;
    height: 15px;
  }

  .Button-plus::before {
    top: 6px;
    height: 3px;
  }

  .Button-plus::after {
    left: 6px;
    width: 3px;
  }
}

@media (min-width: 1500px) and (min-height: 800px) {
  .Button-plus {
    width: 20px;
    height: 20px;
  }

  .Button-plus::before {
    top: 8px;
    height: 4px;
  }

  .Button-plus::after {
    left: 8px;
    width: 4px;
  }
}
