/* @define Button */

@import "../base/global";

.Button {
  display: inline-block;
  user-select: none;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  border: 0;
  color: var(--gray);
  background: none;
  font: inherit;
  line-height: inherit;
  outline: 0;
  margin-top: calc(var(--space) * 2)
}

.Button-plus {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 1ch;
}

.Button-plus::before,
.Button-plus::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: currentColor;
}

.Button-plus::after {
  top: 0;
  left: 6px;
  width: 3px;
  height: 100%;
}

.Button-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  width: 290%;
  height: 290%;
  z-index: -1;
  transform-origin: center;
  transition: ease-in 150ms;
  transition-property: transform, opacity;
  background: currentColor;
  opacity: 0.2;
}

.Button:hover .Button-circle {
  transform: translate(-50%, -50%) scale(1);
  transition-timing-function: ease-out;
}

.Button:active .Button-circle {
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 50ms;
  opacity: 0.3;
}

@media (min-width: 1500px) {
  .Button-plus {
    width: 20px;
    height: 20px;
  }

  .Button-plus::before {
    top: 8px;
    height: 4px;
  }

  .Button-plus::after {
    left: 8px;
    width: 4px;
  }
}
