@import "../base";

/** @define Figure */

:root {
  --Figure-aspect: 56.25%;
}

.Figure {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: currentColor;
  background: transparent;
}

.Figure-container {
  padding-bottom: var(--Figure-aspect);
  position: relative;
  background: rgb(var(--color-dark-gray));
  border-radius: var(--current-border-radius, var(--border-radius-xl));
  overflow: hidden;
}

@media (max-width: 699px) {
  .Figure--mobile .Figure-container {
    padding-bottom: var(--Figure-aspect-mobile);
  }
}

.Figure-image,
.Figure-video {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: bottom;
  pointer-events: none;
  border-radius: var(--current-border-radius, var(--border-radius-xl));
}

.Figure-poster {
  background-color: rgb(var(--color-gray));
  user-select: none;
}

.Figure--fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Figure--fill .Figure-container {
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--current-border-radius, 0);
}
