/* @define View */

@import "../base/global";

.View {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  color: var(--color);
  background-color: var(--background);
  font-family: var(--system-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.View-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: calc(var(--space) * 4);
  padding-right: calc(var(--space) * 4);
}

.View-container--fill {
  flex: 1 0 auto;
}

.View-header  {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  padding: calc(var(--space) * 4);
  position: absolute;
  z-index: 1;
}

.View-home {
  display: block;
  flex: 0 1 100%;
  margin-right: auto;
  width: 100%;
  max-width: 128px;
  position: relative;
}

@media (min-width: 600px) {
  .View-home {
    max-width: 180px;
  }
}

@media (min-width: 1000px) {
  .View-home {
    max-width: 205px;
  }
}

@media (min-width: 1500px) {
  .View-home {
    max-width: 258px;
  }
}

@media (min-width: 2400px) {
  .View-home {
    max-width: 310px;
  }
}

.View-logo {
  display: block;
  width: 100%;
  height: auto;
  color: var(--color);
}

.View-nav {
  display: inline-block;
  padding: 0 var(--space);
  margin-left: calc(var(--space) * 2);
  margin-right: calc(var(--space) * 2);
  font-size: var(--font-size-xs);
  color: currentColor;
  text-decoration: none;
  position: relative;
}

.View-error {
  margin: auto;
}

.View-takeover {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.View-cover {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background: var(--background);
  background-size: 30px 30px;
  background-position: 100% 0;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 100%;
  animation: View-takeover--appear 375ms forwards linear;
  will-change: transform;
}

.View-cover--portrait {
  width: 1vh;
  height: 1vh;
}

@keyframes View-takeover--appear {
  to {
    transform: translate(-50%, -50%) scale(10);
  }
}
