/* @define View */

@import "../base/global";

.View {
  color: var(--color);
  background-color: var(--background);
  font-family: var(--system-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.View-container {
  max-width: calc(var(--contain) + (var(--size) * 2));
  padding-left: var(--size);
  padding-right: var(--size);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.View-header  {
  display: flex;
  align-items: center;
  padding: var(--size);
}

.View-home {
  display: block;
  flex: 0 1 calc(100% / 3);
  margin-right: auto;
}

.View-logo {
  display: block;
  width: 100%;
  max-width: 205px;
  height: auto;
  color: var(--color);
}

.View-nav {
  display: inline-block;
  padding: calc(var(--size) / 2) var(--size);
  margin-left: calc(var(--size) / 4);
  color: currentColor;
  text-decoration: none;
}

.View-nav:last-child {
  margin-right: calc(var(--size) * -1);
}
