@import "../base";
@import "../richtext";
@import "../intro";

/** @define View */

:root {
  --View-aside-top: 1.5rem;
}

@media (min-height: 700px) {
  :root {
    --View-aside-top: 3rem;
  }
}

.View {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  z-index: 0;
  background: var(--background);
  color: rgb(var(--color-text));
}

/**
 * Layouts
 */

.View-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.View-timeline {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 6rem;
}

@media (max-width: 499px) {
  .View-timeline {
    width: calc(100% + var(--document-margin));
    margin: 0 0 5rem calc((var(--document-margin) / 2) * -1);
  }
}

/**
 * Actions
 */

.View-actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
}

.View-action:not(.View-action--secondary) {
  order: -1;
  margin: 0.75rem 0;
}

@media (min-width: 800px) {
  .View-actions {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .View-action {
    margin: 0.75rem 0 0.75rem 1.5rem;
  }

  .View-action:not(.View-action--secondary) {
    order: inherit;
    margin: 0.75rem 0 0.75rem 1.5rem;
  }
}

/**
 * Headings
 */

.View-header {
  max-width: 28em;
  margin: 4rem 0 2rem;
  font-size: 1.25rem;
  color: rgb(var(--color-text));
}

.View-header:first-child {
  margin-top: 0;
}

.View-heading {
  margin: 1.5em 0 1em;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(var(--color-text));
}

.View-heading:first-child {
  margin-top: 0;
}

.View-header .View-heading {
  margin-bottom: 0.2em;
}

.View-heading--sm {
  font-size: 2rem;
}

/**
 * Sticky column layout
 */

.View-primary,
.View-aside {
  flex: 0 0 auto;
  padding-left: var(--document-margin);
  padding-right: var(--document-margin);
  max-width: calc(var(--container-large-width) + (var(--document-margin) * 2));
}

@supports (padding-left: constant(safe-area-inset-left)) {
  .View-primary,
  .View-aside {
    padding-left: calc(var(--document-margin) + constant(safe-area-inset-left));
    padding-right: calc(var(--document-margin) + constant(safe-area-inset-right));
  }
}

@supports (padding-left: env(safe-area-inset-left)) {
  .View-primary,
  .View-aside {
    padding-left: calc(var(--document-margin) + env(safe-area-inset-left));
    padding-right: calc(var(--document-margin) + env(safe-area-inset-right));
  }
}

.View-aside {
  position: relative;
  clear: both;
  overflow: hidden;
}

.View-aside--full {
  padding-left: 0;
  padding-right: 0;
}

.View-wrapper {
  width: 100%;
}

.View-wrapper > * {
  width: 100%;
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-md);
}

@media (min-width: 1200px) {
  .View-layout {
    display: flex;
    flex-wrap: wrap;
  }

  .View-primary {
    width: 66.666%;
  }

  .View-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.333%;
    padding-right: var(--document-margin);
    overflow: visible;
  }

  @supports (padding-left: constant(safe-area-inset-left)) {
    .View-aside {
      padding-right: calc(var(--document-margin) + constant(safe-area-inset-right));
    }
  }

  @supports (padding-left: env(safe-area-inset-left)) {
    .View-aside {
      padding-right: calc(var(--document-margin) + env(safe-area-inset-right));
    }
  }

  @media (max-width: 1399px) {
    .View-primary {
      padding-right: calc(var(--document-margin) * 0.5);
    }
  }

  .View-primary:last-child,
  .View-aside:last-child {
    padding-bottom: var(--document-margin);
  }

  .View-summary {
    flex-grow: 1;
    margin-top: 3.5rem;
  }

  .View-sticky {
    position: sticky;
    top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: var(--box-shadow-md);
    border-radius: var(--border-radius-lg);
  }
}

/**
 * Banner, for important messages
 */

.View-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 0.9rem;
  font-weight: bold;
  background: rgb(var(--color-red));
  color: rgb(var(--color-white));
  padding: 1rem var(--document-margin);
}

/**
 * Error, center stage full on fatal error
 */

.View-error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
