/* @define Intro */

@import "../base/global";

.Intro {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: var(--giorgio-sans-bold);
  font-size: var(--font-size-xl);
  line-height: 1.1;
  letter-spacing: 0.01em;
}

@media (min-width: 600px) {
  :root {
    --size: 2.6vw;
  }
}

@media (min-width: 1000px) {
  :root {
    --size: 2.2vw;
  }
}

@media (min-width: 1500px) {
  :root {
    --size: 1.8vw;
  }
}

@media (min-width: 2400px) {
  :root {
    --size: 1.2vw;
  }
}


.Intro-final {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
}

.Intro-chunk {
  transition: opacity 250ms ease-out;
}

.Intro-chunk.is-hidden {
  opacity: 0;
}

.Intro-word {
  display: inline-block;
  transition: transform 250ms ease-out;
}
