/* @define Intro */

@import "../base/global";

.Intro {
  display: flex;
  margin: calc(var(--space) * 30) 0 calc(var(--space) * 14);
  align-items: center;
}

@media (min-width: 900px) and (min-height: 500px) {
  .Intro {
    margin-top: 42vh;
  }
}

.Intro-text {
  margin: 0;
  font-size: var(--font-size-heading-intro);
  font-family: var(--giorgio-sans-bold) !important;
  line-height: var(--font-size-heading-intro-line-height);
  letter-spacing: var(--giorgio-sans-bold-letter-spacing);
  max-width: 22.5em;
  color: #fff;
}