/* @define utilities */

/**
 * Apply current varaibles
 */

.u-bg {
  background: var(--background) !important;
}

.u-color {
  color: var(--color) !important;
}

/**
 * Explicit
 */

.u-colorBlack { --color: #000; }
.u-colorWhite { --color: #fff; }
.u-colorGray { --color: var(--gray); }
.u-colorBrightBlue { --color: var(--bright-blue); }
.u-colorPetrol { --color: var(--petrol); }
.u-colorDarkBlue { --color: var(--dark-blue); }
.u-colorSand { --color: var(--sand); }
.u-colorBrightSand { --color: var(--bright-sand); }
.u-colorDarkMagenta { --color: var(--dark-magenta); }

.u-bgWhite { --background: #fff; }
.u-bgGray { --background: var(--gray); }
.u-bgBrightBlue { --background: var(--bright-blue); }
.u-bgPetrol { --background: var(--petrol); }
.u-bgDarkBlue { --background: var(--dark-blue); }
.u-bgSand { --background: var(--sand); }
.u-bgBrightSand { --background: var(--bright-sand); }
.u-bgDarkMagenta { --background: var(--dark-magenta); }

/**
 * Themes
 */

.u-themeInvert {
  --color: #fff;
  --background: var(--color);
}

.u-themeWhite {
  --color: #000;
  --background: #fff;
}

.u-themeBlack {
  --color: var(--bright-sand);
  --background: #000;
}

.u-themeGray {
  --color: #000;
  --background: var(--gray);
}

.u-themeBrightBlue {
  --color: var(--bright-sand);
  --background: var(--bright-blue);
}

.u-themeDarkBlue {
  --color: var(--bright-sand);
  --background: var(--dark-blue);
}

.u-themePetrol {
  --color: var(--bright-sand);
  --background: var(--petrol);
}

.u-themeSand {
  --color: var(--dark-blue);
  --background: var(--sand);
}

.u-themeLightSand {
  --color: var(--dark-blue);
  --background: var(--bright-sand);
}

.u-themeBrightSand {
  --color: var(--dark-blue);
  --background: var(--bright-sand);
}

.u-themeDarkMagenta {
  --color: var(--bright-sand);
  --background: var(--dark-magenta);
}
