:root {
  /* Document dimentions */
  --document-max-width: 1600px;
  --document-margin: 0.75rem;
  --document-size: 1.5rem;

  /* Color */
  --color-background: rgb(0, 0, 0);
  --color-text: rgb(255, 255, 255);
  --color-highlight: rgba(255, 255, 255, 0.1);

  /* Typography */
  --type-font-family: "Helvetica", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --type-font-family-heading: "GT Pressura", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --type-font-size: 1rem;
  --type-line-height: 1.35;

  /* Heading */
  --h1-font-size: 2rem;
  --h1-line-height: 1.2;

  /* Container */
  --container-large-width: var(--document-max-width);
  --container-medium-width: 68rem;
  --container-small-width: 30rem;

  /* Focus handling */
  --focus-ring-width: 0.125rem;
  --focus-ring-color: 255, 0, 0;

  /* Easings */
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}
