/* @define utilities */

.u-clip {
  overflow: hidden !important;
}

.u-zBump {
  z-index: calc(var(--z-index) + 1) !important;
}

.u-zDump {
  z-index: calc(var(--z-index) - 1) !important;
}

/**
 * Position
 */

.u-relative {
  position: relative !important;
}

.u-absolute {
  position: absolute !important;
}

.u-static {
  position: static !important;
}

/**
 * Flex
 */

.u-flex {
  display: flex !important;
}

.u-column {
  flex-direction: column !important;
}

.u-row {
  flex-direction: row !important;
}

.u-justifyCenter {
  justify-content: center !important;
}

.u-alignCenter {
  align-items: center !important;
}

.u-alignSelfCenter {
  align-self: center !important;
}

.u-alignSelfStart {
  align-self: flex-start !important;
}

.u-alignSelfEnd {
  align-self: flex-end !important;
}

/**
 * Float
 */

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

/**
 * Aspect Box
 */

.u-aspect {
  display: flex !important;
}

.u-aspect::before {
  content: "" !important;
  float: left !important;
  width: 0 !important;
  height: 0 !important;
  padding-bottom: var(--aspect) !important;
}

/**
 * Show until breakpoint
 */

@media (max-width: 399px) {
  .u-sm-show { display: none !important; }
}

@media (max-width: 599px) {
  .u-md-show { display: none !important; }
}

@media (max-width: 999px) {
  .u-lg-show { display: none !important; }
}

@media (max-width: 1499px) {
  .u-xl-show { display: none !important; }
}
