/* @define utilities */

.u-loading {
  justify-self: flex-start !important;
  align-self: flex-start !important;
  display: inline !important;
  user-select: none !important;
  color: transparent !important;
  background: #e4e4e4 !important;
  box-shadow: inset 0 -0.09em #fff !important;
  animation: Loading--scanline 1000ms linear infinite;
}