/* @define utilities */

@import "./global";

.u-spaceAxs { margin: calc(var(--size) / 6) !important; }
.u-spaceAsm { margin: calc(var(--size) / 2) !important; }
.u-spaceAmd { margin: var(--size) !important; }
.u-spaceAlg { margin: calc(var(--size) * 2) !important; }
.u-spaceAxl { margin: calc(var(--size) * 6) !important; }

.u-spaceTxs { margin-top: calc(var(--size) / 6) !important; }
.u-spaceTsm { margin-top: calc(var(--size) / 2) !important; }
.u-spaceTmd { margin-top: var(--size) !important; }
.u-spaceTlg { margin-top: calc(var(--size) * 2) !important; }
.u-spaceTxl { margin-top: calc(var(--size) * 6) !important; }

.u-spaceBxs { margin-bottom: calc(var(--size) / 6) !important; }
.u-spaceBsm { margin-bottom: calc(var(--size) / 2) !important; }
.u-spaceBmd { margin-bottom: var(--size) !important; }
.u-spaceBlg { margin-bottom: calc(var(--size) * 2) !important; }
.u-spaceBxl { margin-bottom: calc(var(--size) * 6) !important; }

.u-spaceVxs {
  margin-top: calc(var(--size) / 6) !important;
  margin-bottom: calc(var(--size) / 6) !important;
}

.u-spaceVsm {
  margin-top: calc(var(--size) / 2) !important;
  margin-bottom: calc(var(--size) / 2) !important;
}

.u-spaceVmd {
  margin-top: var(--size) !important;
  margin-bottom: var(--size) !important;
}

.u-spaceVlg {
  margin-top: calc(var(--size) * 2) !important;
  margin-bottom: calc(var(--size) * 2) !important;
}

.u-spaceVxl {
  margin-top: calc(var(--size) * 6) !important;
  margin-bottom: calc(var(--size) * 6) !important;
}

.u-spaceHxs {
  margin-right: calc(var(--size) / 6) !important;
  margin-left: calc(var(--size) / 6) !important;
}

.u-spaceHsm {
  margin-right: calc(var(--size) / 2) !important;
  margin-left: calc(var(--size) / 2) !important;
}

.u-spaceHmd {
  margin-right: var(--size) !important;
  margin-left: var(--size) !important;
}

.u-spaceHlg {
  margin-right: calc(var(--size) * 2) !important;
  margin-left: calc(var(--size) * 2) !important;
}

.u-spaceHxl {
  margin-right: calc(var(--size) * 6) !important;
  margin-left: calc(var(--size) * 6) !important;
}
