/* @define utilities */

@import "./global";

.u-spaceTxs { margin-top: calc(var(--size) / 4) !important; }
.u-spaceTs { margin-top: calc(var(--size) / 2) !important; }
.u-spaceTm { margin-top: var(--size) !important; }
.u-spaceTl { margin-top: calc(var(--size) * 2) !important; }
.u-spaceTxl { margin-top: calc(var(--size) * 4) !important; }

.u-spaceBxs { margin-bottom: calc(var(--size) / 4) !important; }
.u-spaceBs { margin-bottom: calc(var(--size) / 2) !important; }
.u-spaceBm { margin-bottom: var(--size) !important; }
.u-spaceBl { margin-bottom: calc(var(--size) * 2) !important; }
.u-spaceBxl { margin-bottom: calc(var(--size) * 4) !important; }

.u-spaceVxs {
  margin-top: calc(var(--size) / 4) !important;
  margin-bottom: calc(var(--size) / 4) !important;
}

.u-spaceVs {
  margin-top: calc(var(--size) / 2) !important;
  margin-bottom: calc(var(--size) / 2) !important;
}

.u-spaceVm {
  margin-top: var(--size) !important;
  margin-bottom: var(--size) !important;
}

.u-spaceVl {
  margin-top: calc(var(--size) * 2) !important;
  margin-bottom: calc(var(--size) * 2) !important;
}

.u-spaceVxl {
  margin-top: calc(var(--size) * 4) !important;
  margin-bottom: calc(var(--size) * 4) !important;
}
