/* @define utilities */

.u-slideInY {
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn 250ms 200ms forwards var(--slide-in);
  will-change: transform, opacity;
}

.u-slideInX {
  opacity: 0;
  transform: translateX(50px);
  animation: slideIn 250ms 200ms forwards var(--slide-in);
  will-change: transform, opacity;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
