@import "./config";

/** @define utilities */

/**
 * Text
 */

.u-hiddenVisually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/**
 * Centered page container
 */

.u-container {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: var(--document-margin) !important;
  padding-right: var(--document-margin) !important;
  max-width: calc(var(--container-large-width) + (var(--document-margin) * 2)) !important;
}

@supports (padding-left: constant(safe-area-inset-left)) {
  .u-container {
    padding-left: calc(var(--document-margin) + constant(safe-area-inset-left)) !important;
    padding-right: calc(var(--document-margin) + constant(safe-area-inset-right)) !important;
  }
}

@supports (padding-left: env(safe-area-inset-left)) {
  .u-container {
    padding-left: calc(var(--document-margin) + env(safe-area-inset-left)) !important;
    padding-right: calc(var(--document-margin) + env(safe-area-inset-right)) !important;
  }
}

/**
 * Loading
 * 1. Apply border radius on line breaks
 */

.u-loading {
  background: rgba(var(--color-text), 0.06) !important;
  color: transparent !important;
  user-select: none !important;
  animation: u-loading-pulse 1500ms infinite var(--ease);
  border-radius: var(--border-radius-xs);
  box-decoration-break: clone; /* 1 */
}

.u-loadingAlt {
  background: rgba(0, 0, 0, 0.05) !important;
  color: transparent !important;
  user-select: none !important;
  animation: u-loading-pulse 1500ms infinite var(--ease);
  border-radius: var(--border-radius-xs);
  box-decoration-break: clone; /* 1 */
}

@keyframes u-loading-pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
