/* @define Display */

@import "../base/global";

.Display,
.Display-link {
  display: block;
  color: var(--color);
  font-size: inherit;
  line-height: 1.2;
  font-family: var(--giorgio-sans-bold);
}

.Display--1 {
  font-size: var(--font-size-heading-1);
}

.Display--2 {
  font-size: var(--font-size-heading-2);
}

.Display--3 {
  font-size: var(--font-size-heading-3);
}

.Display--4 {
  font-size: var(--font-size-heading-4);
}

.Display--footer {
  font-size: var(--font-size-heading-footer);
}

/**
 * Display link
 */

.Display-link:link {
  display: inline-block;
  position: relative;
  color: var(--color);
}

.Display-link:link::after {
  content: "";
  width: 100%;
  height: 2px;

  position: absolute;
  bottom: 0;
  left: 0;

  background: currentColor;
  transition: transform 175ms var(--snap);
  will-change: transform;
}

.Display-link:link:hover::after {
  transform: translateY(4px);
}
