/* @define Display */

@import "../base/global";

.Display,
.Display:link {
  display: block;
  color: var(--color);
  font-size: inherit;
  line-height: 1.2;
  font-family: var(--giorgio-sans-bold);
}

.Display--xs,
.Display--xs:link {
  font-size: calc(var(--font-size-xs) * 2);
}

.Display--sm,
.Display--sm:link {
  font-size: calc(var(--font-size-sm) * 2);
}

.Display--md,
.Display--md:link {
  font-size: calc(var(--font-size) * 2);
}

.Display--lg,
.Display--lg:link {
  line-height: 1;
  font-size: calc(var(--font-size-lg) * 1.5);
}

.Display--xl,
.Display--xl:link {
  line-height: 1;
  font-size: calc(var(--font-size-xl) * 1.6);
}

.Display:link {
  display: inline-block;
  position: relative;
}

.Display:link::after {
  content: "";
  width: 100%;
  height: 2px;

  position: absolute;
  bottom: 0;
  left: 0;

  background: currentColor;
  transition: transform 175ms var(--snap);
  will-change: transform;
}

.Display:link:hover::after {
  transform: translateY(4px);
}
