/* @define Display */

@import "../base/global";

.Display {
  display: block;
  color: var(--color);
  font-size: inherit;
  line-height: 1.2;
  font-family: var(--giorgio-sans-bold);
}

.Display--xs {
  font-size: calc(var(--font-size-xs) * 2);
}

.Display--sm {
  font-size: calc(var(--font-size-sm) * 2);
}

.Display--md {
  font-size: calc(var(--font-size) * 2);
}

.Display--lg {
  line-height: 1;
  font-size: calc(var(--font-size-lg) * 1.5);
}

.Display--xl {
  line-height: 1;
  font-size: calc(var(--font-size-xl) * 1.5);
}
