/* @define Text */

@import "../base/global";

.Text {
  display: block;
  max-width: 27em;
  font-size: var(--font-size-sm);
}

.Text--large {
  font-size: var(--font-size-md);
}

.Text > p {
  margin: 1em 0;
}

.Text > p:first-child {
  margin-top: 0;
}

.Text > p:last-child {
  margin-bottom: 0;
}

.Text > img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: top;
}
