/* @define Text */

@import "../base/global";

.Text {
  display: block;
  width: 100%;
  max-width: 27em;
}

@media (min-width: 600px) {
  .Text {
    max-width: 50vw;
  }
}

.Text--full {
  max-width: none;
}

.Text > p {
  margin: 1em 0;
}

.Text > p:first-child {
  margin-top: 0;
}

.Text > p:last-child {
  margin-bottom: 0;
}

.Text > img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: top;
}

.Text a {
  position: relative;
  color: var(--link-color);
}

/*

.Text a::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 1ch;
  background: url('./icon.svg');
}

.Text a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  width: 290%;
  height: 290%;
  z-index: -1;
  transform-origin: center;
  transition: ease-in 150ms;
  transition-property: transform, opacity;
  background: currentColor;
  opacity: 0.2;
}

.Text a:hover::after {
  transform: translate(-50%, -50%) scale(1);
  transition-timing-function: ease-out;
}

.Text a:active::after {
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 50ms;
  opacity: 0.3;
}

@media (min-width: 1500px) {
  .Text a::before {
    width: 20px;
    height: 20px;
  }
} */

/**
 * 1. Maintain 16/9 aspect ratio for embedded content
 */

.Text iframe {
  width: 100vw;
  height: calc((100vw - calc(var(--space) * 8)) * 9/16); /* 1 */
  max-width: 100%;
  vertical-align: top;
  user-select: none;
}

.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text h5,
.Text h6 {
  margin: 0;
  font-family: var(--system-font);
  font-weight: bold;
}

.Text h1 { font-size: var(--font-size-heading-3); }
.Text h2 { font-size: var(--font-size-heading-lg); }
.Text h3 { font-size: var(--font-size-heading-md); }
.Text h4 { font-size: var(--font-size-heading-sm); }
.Text h5 { font-size: var(--font-size-heading-sm); }
.Text h6 { font-size: var(--font-size-heading-sm); }
