@import "../base";

/** @define Media */

.Media {
  position: relative;
  z-index: 0;
  user-select: none;
}

.Media-container {
  display: flex;
  justify-content: center;
}

.Media-figure {
  width: 100%;
}

.Media-caption {
  display: block;
  margin-top: 0.8rem;
  font-size: 0.75rem;
  user-select: text;
}

/**
 * Overlay text content
 */

.Media--banner .Media-figure {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Media--backdrop .Media-figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(83.19deg, rgba(0, 0, 0, 0.4) 25.5%, rgba(0, 0, 0, 0) 126.91%);
}

.Media--banner .Media-container::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-bottom: 125%;
}

.Media-content {
  display: flex;
  padding: 3rem 2rem;
  min-height: 18rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: var(--color-text);
  z-index: 1;
}

.Media--white .Media-content {
  color: #fff;
}

@media (min-width: 700px) {
  .Media-content {
    padding: 5rem;
  }

  .Media--banner .Media-container::before {
    padding-bottom: 41%;
  }
}
