@import "../base";

/** @define Clients */

.Clients {
  user-select: none;
}

.Clients-img,
.Clients-loading {
  width: auto;
  height: auto;
  max-width: 8.6rem;
  max-height: 2.5rem;
  vertical-align: top;
}

.Clients-loading {
  width: 4.5rem;
  height: 10rem;
  background: var(--color-text);
  opacity: 0.1;
}

.Clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.Clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4.25rem;
}

.Clients--small .Clients-img,
.Clients--small .Clients-loading {
  height: 100%;
  max-width: 6rem;
  max-height: 1.75rem;
}

.Clients--small  .Clients-loading {
  width: 4.5rem;
  height: 10rem;
}
