@import "../base";

/** @define Clients */

.Clients {
  user-select: none;
}

.Clients-img,
.Clients-loading {
  width: auto;
  height: 100%;
  max-width: 6rem;
  max-height: 1.75rem;
  vertical-align: top;
}

.Clients-loading {
  width: 4.5rem;
  height: 10rem;
  background: var(--color-highlight);
}
