@import "../base";

/** @define Slices */
:root {
  --Slices-item-padding: 3.5rem;
}

@media (min-width: 600px) {
  :root {
    --Slices-item-padding: 6rem;
  }
}

.Slices-item {
  padding: var(--Slices-item-padding) 0;
}

.Slices-item + .Slices-item {
  padding-top: 0;
}

/* Fix for items that shouldn't have any margin */

.Slices-item--stacked {
  padding: 0 !important;
}

.Slices-item--stacked + .Slices-item {
  padding-top: var(--Slices-item-padding) !important;
}
