/* @define Presentation */

@import "../base/global";

.Presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 17vh 0 1vh;
}

.Presentation-text {
  display: none;
}

.Presentation-title {
  width: auto;
  height: 100%;
  position: relative;
}

.Presentation-col {
  height: 13.5vh;
  margin: 0 0 3vh 0;
  position: relative;
  opacity: 1;
  transform: translate(0px, 100px);
  animation:
    Presentation-col--fade 350ms forwards var(--slide-in),
    Presentation-col--slide 425ms forwards var(--slide-in);
  will-change: transform;
}

:root.has-js .Presentation-col {
  opacity: 0;
}

:root.has-js .Presentation--static .Presentation-col {
  opacity: 1;
  transform: none;
  animation: none;
  will-change: unset;
  transform: translate(0px, 0px);
}

.Presentation-col:first-child .Presentation-title {
  transform: translateX(-3%);
}

.Presentation-col:nth-child(1) {
  left: 1vw;
  animation-delay: 75ms;
}

.Presentation-col:nth-child(2) {
  left: 11vw;
  animation-delay: 125ms;
}

.Presentation-col:nth-child(3) {
  left: 7vw;
  animation-delay: 150ms;
}

.Presentation-col:nth-child(4) {
  left: 23vw;
  animation-delay: 175ms;
}

@keyframes Presentation-col--slide {
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes Presentation-col--fade {
  to {
    opacity: 1;
  }
}

@media (min-height: 600px) and (max-width: 900px) {
  .Presentation {
    padding: 14vh 0 1vh;
  }
  .Presentation-col {
    height: 90px;
  }
}

@media (min-width: 900px) {
  .Presentation {
    align-items: flex-end;
    flex-direction: row;
    margin: 0 calc((var(--space) * 1) * -1);
    min-height: 78vh;
    padding: 30vh 0 0 0;
  }

  .Presentation .Presentation-col {
    flex: 0 1 auto;
    height: auto;
    height: unset;
    left: 0;
    transform: translate(0px, 150px);
    margin: var(--space) var(--space) 0;
  }

  .Presentation .Presentation-col + .Presentation-col {
    margin-left: calc(var(--space) * 3);
  }

  .Presentation-col {
    transition: transform 500ms var(--ease);
  }

  :root.has-js .Presentation--static .Presentation-col:hover {
    transform: translateY(-8px);
    transition-delay: 20ms;
  }

  .Presentation-title {
    display: block;
    height: auto;
    width: 100%;
  }

  .Presentation-text {
    display: block;
    margin: calc(var(--space) * 3) 0 var(--space) 0;
    font-size: var(--font-size-sm);
  }

  .Presentation-text > p + p {
    margin-top: 1em;
  }

  .Presentation-text strong {
    font-weight: inherit;
    position: relative;
    background: none;
    outline: 2px solid transparent;
    transition: 350ms forwards var(--ease);
    transition-property: outline-color, background-color;
  }

  :root.has-js .Presentation--static .Presentation-col:hover .Presentation-text strong {
    background: #f9d229;
    outline-color: #f9d229;
  }

  .Presentation-col:nth-last-child(1) {
    animation-delay: 75ms;
  }

  .Presentation-col:nth-last-child(2) {
    animation-delay: 125ms;
  }

  .Presentation-col:nth-last-child(3) {
    animation-delay: 150ms;
  }

  .Presentation-col:nth-last-child(4) {
    animation-delay: 175ms;
  }

  .Presentation--ltr .Presentation-col:nth-last-child(1) {
    animation-delay: 175ms;
  }

  .Presentation--ltr .Presentation-col:nth-last-child(2) {
    animation-delay: 150ms;
  }

  .Presentation--ltr .Presentation-col:nth-last-child(3) {
    animation-delay: 125ms;
  }

  .Presentation--ltr .Presentation-col:nth-last-child(4) {
    animation-delay: 75ms;
  }
}

@media (min-width: 1200px) {
  .Presentation .Presentation-col + .Presentation-col {
    margin-left: calc(var(--space) * 4);
  }
}

@media (min-width: 900px) and (min-height: 1000px) {
  .Presentation {
    padding-top: 18vh;
  }
}

@media (min-width: 1400px) and (max-height: 600px) {
  .Presentation .Presentation-col + .Presentation-col {
    margin-left: calc(var(--space) * 10);
  }
}

@media (min-width: 900px) and (max-height: 400px) {
  .Presentation .Presentation-col + .Presentation-col {
    margin-left: calc(var(--space) * 10);
  }
}
