@import "../base";

/** @define RichText */

:root {
  --RichText-aspect: 0.5;
  --RichText-max-width: 32em;
}

/**
 * Dimensions and alignment
 */

.RichText {
  max-width: var(--RichText-max-width);
}

.RichText--wide {
  --RichText-max-width: 50em;
}

.RichText--middle {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Default text styles
 */

.RichText:not(.RichText--adaptive) {
  font-size: 1.0625rem;
  text-align: left;
  color: rgb(var(--color-text));
}

.RichText--larger:not(.RichText--adaptive) {
  font-size: 1.25rem;
}

@media (min-width: 800px) {
  .RichText:not(.RichText--adaptive) {
    font-size: 1.25rem;
  }

  .RichText--larger:not(.RichText--adaptive) {
    font-size: 1.5rem;
  }
}

/**
 * Links
 */

.RichText a {
  color: rgb(var(--color-link));
  text-decoration: var(--link-decoration, none);
  font-weight: bold;
  word-break: break-word;
  hyphens: auto;
  transition: var(--color-transition);
}

.RichText a:hover {
  color: rgb(var(--color-link-hover));
}

.RichText a:active {
  opacity: 0.5;
  transition: var(--color-active-transition);
}

/**
 * Block elements
 */

.RichText p,
.RichText ul,
.RichText ol,
.RichText h1,
.RichText h2,
.RichText h3,
.RichText h4 {
  margin: 1em 0;
}

.RichText p:first-child,
.RichText ul:first-child,
.RichText ol:first-child,
.RichText h1:first-child,
.RichText h2:first-child,
.RichText h3:first-child,
.RichText h4:first-child {
  margin-top: 0;
}

.RichText p:last-child,
.RichText ul:last-child,
.RichText ol:last-child,
.RichText h1:last-child,
.RichText h2:last-child,
.RichText h3:last-child,
.RichText h4:last-child {
  margin-bottom: 0;
}

.RichText pre {
  font-size: 0.8125rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0.8rem 1rem;
  margin: 2.2em 0;
  text-align: left;
  border: 1px solid currentColor;
  border-radius: var(--border-radius-xs);
}

/**
 * Block quote
 */

.RichText-blockquote {
  position: relative;
  min-height: 4rem;
  padding-left: 2rem;
  color: rgb(var(--color-highlight));
}

.RichText-blockquote p::after,
.RichText-blockquote p::before,
.RichText-blockquote::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: var(--border-radius-full);
  background: #fffdf8;
}

.RichText-blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2rem;
  width: 0.75rem;
  height: calc(100% - 0.5rem);
  border-radius: var(--border-radius-full);
  background: currentColor;
}

.RichText-blockquote::after {
  top: 0.4em;
}

.RichText-blockquote p {
  margin: 0;
  font-size: 1.33em;
  line-height: 1.28;
}

.RichText-blockquote p::before {
  top: auto;
  bottom: 0.4em;
}

.RichText-blockquote p::after {
  top: 50%;
  margin-top: -2px;
}

.RichText-cite {
  color: rgb(var(--color-muted));
  margin-top: 0.5rem;
}

.RichText-cite::before {
  content: "— ";
}

/**
 * Lists
 */

.RichText ul,
.RichText ol {
  margin: 0;
}

.RichText ul:not(:first-child),
.RichText ol:not(:first-child) {
  margin-top: calc(1.2em - 0.5em);
}

.RichText ul:not(:last-child),
.RichText ol:not(:last-child) {
  margin: 1em 0 1em 0.8em;
}

.RichText ul {
  list-style-type: none;
}

.RichText ol {
  list-style-type: decimal;
  padding-left: 1.7em;
}

.RichText li + li {
  margin-top: 0.4em;
}

.RichText ul:not(.RichText-reset) > li:not(.RichText-reset) {
  padding-left: 1em;
  position: relative;
}

.RichText ol:not(.RichText-reset) > li:not(.RichText-reset) {
  padding-left: 0.5em;
}

.RichText ul:not(.RichText-reset) > li:not(.RichText-reset)::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0.5em;
  background: currentColor;
}

/**
 * Headings
 */

.RichText h1,
.RichText .RichText-h1,
.RichText h2,
.RichText .RichText-h2,
.RichText h3,
.RichText .RichText-h3,
.RichText h4,
.RichText .RichText-h4 {
  font-weight: bold;
  line-height: 1.25;
  margin: 2.25rem 0 1rem;
  color: rgb(var(--color-text));
}

.RichText h1,
.RichText .RichText-h1 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.01em;
}

.RichText h2,
.RichText .RichText-h2 {
  font-size: 2rem;
  line-height: 1.05;
  letter-spacing: -0.01em;
  margin: 1.75rem 0;
}

.RichText h3,
.RichText .RichText-h3 {
  line-height: 1.2;
  font-size: 1.5rem;
}

.RichText h4,
.RichText .RichText-h4 {
  font-size: 1em;
  line-height: inherit;
}

/* Special margins that works good in list formats, such as FAQs */

.RichText-legend {
  margin: 2rem 0 0.75rem !important;
}

.RichText .RichText-legend a {
  color: inherit;
}

@media (min-width: 800px) {
  .RichText h1,
  .RichText .RichText-h1 {
    font-size: 4.5rem;
    line-height: 1;
  }

  .RichText h2,
  .RichText .RichText-h2 {
    font-size: 3rem;
    letter-spacing: -0.01em;
  }

  .RichText h3,
  .RichText .RichText-h3 {
    font-size: 2rem;
  }

  .RichText h4,
  .RichText .RichText-h4 {
    font-size: 1.5rem;
  }

  .RichText-legend {
    margin: 3rem 0 0.75rem !important;
  }
}
