/* @define Icon */

@import "../base/global";

.Icon {
  display: inline-block;
  user-select: none;
  width: 40px;
  height: 40px;
  position: relative;
  vertical-align: bottom;

  color: var(--background);
  background-color: var(--color);
  border-radius: calc(20rem / 16);
  transform-origin: 50% 50%;
  transition: transform 175ms var(--snap);
  will-change: transform;
  user-select: none;
}

.Icon:hover {
  transform: scale(1.1);
}

.Icon:active {
  transform: scale(0.95);
  transition: transform 100ms ease-out;
}

.Icon-image {
  display: block;
  width: 18px;
  height: 18px;
  margin: 11px 0 0 11px;
  position: relative;
  position: relative;
}

.Icon--fill,
.Icon--fill:hover,
.Icon--fill:active {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 0;
  transition: none;
  transform: none;
  will-change: auto;
}

.Icon--linkedin .Icon-image {
  top: -1px;
}

.Icon--twitter .Icon-image {
  right: -1px;
}

.Icon--brand {
  background-color: transparent;
  width: 22px;
  height: 22px;
}

@media (min-width: 600px) and (min-height: 400px) {
  .Icon--brand {
    width: 30px;
    height: 30px;
  }
}
  
@media (min-width: 1000px) and (min-height: 600px) {
  .Icon--brand {
    width: 40px;
    height: 40px;
  }
}

.Icon--brand .Icon-image {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.Icon--twitter.Icon--brand {
  color: #00adee;
}
